*{
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  --ion-background-color: #F5F5F5; /* Fundo neutro */
  --ion-text-color: #424242; /* Cor dos textos padrão */
}

ion-list {
  padding: 10px;
}

ion-item:hover {
  transform: scale(1.05); /* Aumenta ligeiramente */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
}

.nome_prod {
  font-size: 1rem;
  font-weight: bold;
  color: #1565C0; /* Azul-escuro */
}

/* Preço do produto */
.valor {
  font-size: 0.9rem;
  color: #424242; /* Texto neutro */
}

.valor .capacity {
  font-weight: bold;
  color: #F9A825; /* Amarelo-dourado */
}


ion-item {
  position: relative;
  background-color: #FFFFFF; /* Fundo do card */
  border: 1px solid #81C784; /* Borda verde-clara */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 14px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-header {
  --background: #ffffff; 
  border-bottom: 1px solid #e0e0e0;
  z-index: 10;
  position: relative;
}

ion-content {
  position: relative;
  z-index: 5;
  
  padding-bottom: 56px; 
}



a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px; 
  border-radius: 5px; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}


ion-item{
 width: 360px;
 background-color: #005fc5;
}

ion-list{
  background-color: #a5ffff;
}

ion-content{
  background-color: #70a3dae1;
}


a:visited {
  color: #8e44ad; 
}


a:active {
  background-color: #2c3e50; 
  color: #ecf0f1; 
}


a:focus {
  outline: 2px solid #f39c12; 
}


ion-tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
  height: 56px;
}


ion-tab-button {
  --color-selected: #007bff;
  --color: #6c757d;
  font-size: 14px;
  padding: 10px 0;
}

ion-tab-button ion-icon {
  font-size: 20px;
}

ion-tab-button[tab="home"] ion-icon {
  color: #007bff;
}

ion-tab-button[tab="radio"] ion-icon {
  color: #28a745;
}

ion-tab-button[tab="library"] ion-icon {
  color: #ffc107;
}

ion-tab-button[tab="search"] ion-icon {
  color: #dc3545;
}


ion-item {
  position: relative;
  background-color: #cbe2e6;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
  border-radius: 14px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza a transição */
}

ion-item:hover {
  transform: scale(1.05); /* Leve aumento */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra mais intensa */
  background-color: #b1d7de; /* Cor mais destacada */
}



.link{
margin-top: 10px;
}

ion-avatar {
  width: 80px;
  height: 80px;
}

ion-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.nome_prod {
  font-weight: bold;
  color: #333333;
  margin-bottom: 8px;
}

.capacity {
  color: #007bff;
}
