<ion-header class="custom-header">
  <ion-toolbar>
    <ion-title>Brilha Sol</ion-title>

    <ion-buttons slot="end">
      <!-- Botão do carrinho que abre o modal -->
      <ion-button (click)="openCartModal()">
        <ion-icon class="cart" name="cart"></ion-icon>
      </ion-button>

      <!-- Botão do usuário -->
      <ion-button>
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-maps></app-maps>

  <!-- Lista de produtos -->
  <ion-list>
    <ion-item *ngFor="let plant of plants" lines="none" (click)="openProductModal(plant)">
      <ion-avatar slot="start">
        <img [src]="plant.image" />
      </ion-avatar>
      <ion-label>
        <h2 class="nome_prod">{{ plant.name }}</h2>
        <p> Valor: R$ <span class="capacity">{{ plant.valor }}</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
