<ion-header class="custom-header">
  <ion-toolbar>
    <ion-title>Brilha Sol</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let plant of plants" lines="none" (click)="openProductModal(plant)">
      <ion-avatar slot="start">
        <img [src]="plant.image" />
      </ion-avatar>
      <ion-label>
        <h2 class="nome_prod">{{ plant.name }}</h2>
        <p> Valor: R$ <span class="capacity">{{ plant.valor }}</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-tabs class="menu-fixo">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)="openCartModal()">
      <ion-icon name="cart"></ion-icon> 
      Compras
    </ion-tab-button>
    
    <ion-tab-button tab="radio">
      <ion-icon name="map"></ion-icon> 
      Mapa
    </ion-tab-button>
    
    <ion-tab-button tab="library">
      <ion-icon name="person"></ion-icon> 
      Usuário
    </ion-tab-button>
    
    <ion-tab-button tab="search">
      <ion-icon name="log-out"></ion-icon>
      Sair
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
