<ion-content>
  <ion-card class="conteiner">

    <ion-card-content class="card">

      <div class="conteiner_icon">
        <ion-img  class="icon_sol"  src="../../assets/icon/favicon.ico"></ion-img>
      </div><br>

      <ion-card-header>
        <ion-card-title>Seja Bem vindo</ion-card-title>
      </ion-card-header>


      <ion-item>
        <ion-label class="label" position="floating">Nome</ion-label>
        <ion-input type="text" id="usuario" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="label" position="floating">Email</ion-label>
        <ion-input type="Email" id="Email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="label" position="floating">CPF</ion-label>
        <ion-input type="text" id="CPF" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="label" position="floating">Telefone</ion-label>
        <ion-input type="text" id="telefone" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="label" position="floating">Senha</ion-label>
        <ion-input type="password" id="senha" maxlength="8" required></ion-input>
      </ion-item>

      <div id="msgError"></div>

      <ion-button class="btn-entrar" expand="block" style="--background: #ee861d; --color: #fff;">Cadastra-se</ion-button>


      <ion-item lines="none" class="content">
        <ion-text>
          <p>
            Já tem uma conta? <a [routerLink]="['/login']"><strong>Entre aqui</strong></a>
          </p>
        </ion-text>        
      </ion-item>
      <ion-item lines="none" class="content">
        <ion-text>
            <hr>
        </ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>


