<ion-header>
  <ion-toolbar>
    <ion-title>
      <a routerLink="/home">
        <img src="../../assets/icon/logo.png" class="img-logo-header" width="300px" alt="Logo">
      </a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/sobre-nos">Sobre Nós</ion-button>
      <ion-button routerLink="/cadastro">Seja Voluntário</ion-button>
      <ion-button routerLink="/saiba-mais">Saiba Mais</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>