<ion-header>
  <ion-toolbar>
    <ion-title>{{ product.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="modal-wrapper">
    <img [src]="product.image" alt="{{ product.name }}" />

    <p>Valor: R$ {{ product.valor }}</p>
    
    <ion-item>
      <ion-label>Quantidade:</ion-label>
      <ion-input type="number" [(ngModel)]="quantity" min="1"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="addToCart()">Adicionar ao Carrinho</ion-button>
  </div>
</ion-content>
