footer {
    background-color: #006C7C;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 2rem;
    position: fixed; /* Fixa o footer na parte inferior da tela */
    z-index: 1000; /* Garante que o footer esteja acima de outros elementos */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px; 
}

#p-footer {
    flex-grow: 1; 
    text-align: center;
    margin: 0; 
    font-family: "Montserrat", sans-serif;
    color: #d9d9d9;
    font-size: 18px;
}

.img-footer {
    margin-right: auto; 
}
