        <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Well come back</ion-title>
          <ion-avatar slot="end">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
       
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
        
      </ion-header>
      <ion-content class="ion-padding"> 

        <ion-card id="meu-painel">
          <ion-card-content>
            <p>Olá, Nome do Usuário</p>
            <ion-button routerLink="/home">Sair</ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card id="pedidos">
          <ion-list>
            <ion-item>
              <ion-label>Pedido #1234</ion-label>
              <ion-note slot="end">R$ 99,99</ion-note>
            </ion-item>
            
          </ion-list>
        </ion-card>

        <ion-card>
          <ion-list>
            <ion-item>
              <ion-label>Rua Exemplo, 123</ion-label>
              <ion-note slot="end">CEP: 00000-000</ion-note>
            </ion-item>
            <!-- Adicione mais itens aqui -->
          </ion-list>
        </ion-card>

        <ion-card id="detalhes-conta">
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input value=""></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" value=""></ion-input>
          </ion-item>
          <ion-button expand="full">Salvar alterações</ion-button>
      </ion-card>

      <ion-item>
        <ion-label position="floating">Senha atual</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nova senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar nova senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-button expand="full" class="button-salvar">Salvar alterações</ion-button>
      <ion-button color="danger" expand="full" class="button-excluir">Excluir conta</ion-button>

      </ion-content>

      
    </div>

      
       
          

