<ion-header>
  <ion-toolbar>
    <ion-title>Seu Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cartItems">
      <ion-thumbnail slot="start">
        <img [src]="item.product.image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.product.name }}</h2>
        <p>Quantidade: {{ item.quantity }}</p>
        <p>Subtotal: R$ {{ item.subtotal | number:'1.2-2' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>Total: R$ {{ total | number:'1.2-2' }}</ion-label>
  </ion-item>
</ion-content>
