@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Libre Franklin", sans-serif;
}

.conteiner {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: transparent; /* Garantir que o fundo do contêiner seja transparente */
    margin-top: 50px; /* Ajustar conforme necessário */
}

.card {
    background-color: #fff;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
    margin-top: 10px;
    margin-bottom: 135px;
}

.icon_sol {
    height: 60px;
    margin-top:10px ;
}

.conteiner_icon {
    margin-bottom: 10px;
}

ion-card-title {
    text-align: center;
    margin-bottom: 20px;
    color: #5d5d5d;
    font-weight: 700;
    font-size: 29px;
}

ion-item {
    --highlight-height: 0;
    --background: none;
    --min-height: 0;
    margin-bottom: 20px;
}

ion-label {
    color: #5d5d5d;
    position: relative;
    padding-top: 13px;
    margin-bottom: 5%;
    margin-top: 5%;
}

.label ion-input {
    padding: 5px 5px;
    border: 0;
    border-bottom: 2px solid #5d5d5d;
    background-color: transparent;
    outline: none;
    width: 100%; /* Ajuste para ocupar a largura total */
    transition: all .3s ease-out;
    border-radius: 0;
}

.label ion-input:focus {
    border-bottom: 2px solid #5d5d5d;
}

.btn-entrar {
    color: white; /* Cor do texto */
    border: none; /* Remover bordas */
    padding: 10px 20px; /* Ajuste do espaçamento interno */
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%; /* Ocupa toda a largura disponível */
    font-size: 16px;
    border-radius: 25px; /* Arredondar o botão */
    transition: background-color 0.3s ease; /* Transição suave */
    margin-top: 20px;
}

ion-button {
    border-radius: 30px;
    width: 290px;
    display: flex;
    align-items: center;
}

i {
    margin-right: 5px;
    color: #ffffff;
}


.btn-google {
    background-color: #f7f12f; /* Cor de fundo do botão Google */
    color: #fff; /* Cor do texto */
    width: 240px;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 25px; /* Tornar o botão Google arredondado */
}

p {
    color: #5d5d5d;
    margin-top: 13px;
    margin-left: 30px;
    font-size: large;
}

a {
    text-decoration: none;
    font-size: large;
    color: #4d7ceb;
    font-weight: bold;
    letter-spacing: 1px; /* Espaçamento entre as letras */
}


hr {
    background-color: #5d5d5d !important;
    height: 1px;
    border: none;
    margin: 20px 0;
}

ion-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

ion-input{
    height: 60px;
    color: #4d7ceb;
}