 <ion-content>
  <ion-card class="conteiner">

    <ion-card-content class="card">

      <ion-card-header>
        <ion-card-title>Que bom que você <br>voltou</ion-card-title>
      </ion-card-header>

      <ion-item>
        <ion-label class="label" position="floating">Email</ion-label>
        <ion-input type="Email" id="usuario" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="label" position="floating">Senha</ion-label>
        <ion-input type="password" id="senha" maxlength="8" required></ion-input>
      </ion-item>

      <div id="msgError"></div>

      <ion-button class="btn-entrar" expand="block" style="--background: #ee861d; --color: #fff;">Entrar</ion-button>


      <ion-item lines="none" class="content">
        <ion-text>
          <p>
            Não tem uma conta? <a href="#"><strong>Cadastre-se</strong></a>
          </p>
        </ion-text>
      </ion-item>
      <ion-item lines="none" class="content">
        <ion-text>
            <hr>
        </ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

