/* Aplicar a fonte globalmente */
body {
  font-family: 'Fredoka','Reem Kufi', sans-serif;
}

/* Ou aplicar a fontes específicas */
ion-card-title {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700; /* Exemplo de peso */
  font-size: 30px; /* Tamanho padrão do texto */
  text-align: center; /* Centraliza o texto */
  color: #433b3bc1;
}

/* Responsividade para tamanhos de tela menores */
@media (max-width: 768px) {
  ion-card-title {
    font-size: 24px; /* Tamanho reduzido para tablets e telas menores */
  }
}

@media (max-width: 480px) {
  ion-card-title {
    font-size: 30px; /* Tamanho ainda mais reduzido para smartphones */
  }
}

ion-card-subtitle {
  font-family: 'Reem Kufi', sans-serif;
  font-weight: 400; /* Exemplo de peso */
}

.btn-google {
  font-family: 'Libre Franklin', sans-serif;
  --background: #22a4f5;
  --color: #ffffff;
  --border-radius: 25px; /* Bordas arredondadas */
  --padding: 8px 20px; /* Espaçamento interno do botão */
  font-size: 14px; /* Tamanho da fonte menor */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px; /* Largura menor */
  height: 40px; /* Altura do botão */
}

.btn-google i {
  margin-right: 8px; /* Espaçamento entre ícone e texto */
  font-size: 18px; /* Tamanho do ícone */
  color: #f6f479;
}

.btn-google:hover {
  --background: #1d93d9; /* Altera a cor de fundo no hover */
}

.btn-google:active {
  transform: scale(0.95); /* Efeito de clique */
}

.content-background {
  --background: url('../../assets/fundo-login.jpeg') no-repeat center center / cover;
  height: 100%;
  background-attachment: fixed; /* Para fixar o fundo enquanto rola */
}

ion-card {
  border-radius: 20px; /* Bordas arredondadas */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  padding: 16px; /* Espaçamento interno */
  background-color: #e1d9d9b8; /* Cor de fundo do card */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transição suave para hover */
  
  position: fixed; /* Fixa o card na posição */
  top: 250px;
  left: 47%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajusta o deslocamento para alinhar ao centro */
  width: 90%; /* Largura do card, adaptável para telas menores */
  max-width: 450px; /* Limita a largura máxima */
  
  display: flex; /* Usar flexbox para centralizar conteúdo */
  flex-direction: column; /* Direção da coluna para empilhar o título e o botão */
  align-items: center; /* Alinha os itens ao centro */
}

ion-icon {
  height: 37px;
  width: 37px;
  margin-left: 5px;
  color: #3b3131c2;
}

.header-container {
  display: flex; /* Usa flexbox para alinhar os itens horizontalmente */
  align-items: center; /* Alinha verticalmente ao centro */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}
