<ion-content>
  <ion-card class="conteiner">
    <ion-card-content class="card">
      <div class="conteiner_icon">
        <ion-img class="icon_sol" src="../../assets/icon/favicon.ico"></ion-img>
      </div><br>

      <ion-card-header>
        <ion-card-title>Que bom que você <br>voltou</ion-card-title>

        <ion-button (click)="loginWithGoogle()" class="btn-google"   style="--background: #4d7ceb; --color: #fff; display: flex; justify-content: center; align-items: center;">
          <i class="fab fa-google" slot="start"></i>
          Entrar com Google
        </ion-button>

      </ion-card-header>

      <ion-item>
        <ion-label class="label" position="floating">Email</ion-label>
        <ion-input type="Email" id="usuario" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="label" position="floating">Senha</ion-label>
        <ion-input type="password" id="senha" maxlength="8" required></ion-input>
      </ion-item>

      <div id="msgError"></div>

      <ion-button shape="round" class="btn-entrar">Entrar</ion-button>

      <ion-item lines="none" class="content">
        <ion-text>
          <p>
            Não tem uma conta?
            <a [routerLink]="['/cadastro']"><strong>Cadastre-se</strong></a>
          </p>
        </ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
